/* Curso CSS estilos*/
html{

margin:0; 
padding:0; 
height:100%; 
width: 100%;
font-family: 'Arial Narrow','Arial','Helvetica','sans-serif';

}

body
 {
   font-family: Arial, Helvetica, sans-serif;
    margin: 4mm 2mm 3mm 3mm; 
   /*       top down izq der */
   font-size: 10px;


 }

.pagenum:before {
    content: counter(page);
    font-size: 14px;
}


ul{

list-style: none;
padding-left: 40px;
}



.name-documento
 {
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
   border-collapse: collapse;
   padding: 0.3em;
   caption-side: bottom;

}

.table-cabecera
{
text-align: right;  
border-collapse: collapse;
 padding-left: 40px;

}

.cabecera
{

width:100%; 
text-align: left;  
border-collapse: collapse;
border: 1px solid #000;
padding-top: 5px;
padding-left: 40px;
}


.cabecera-th
{

padding: 3px;
/*border: 1px solid #000;*/

}


.cabecera-td
{

padding: 3px;
border: 1px solid #000;*/

}


.detalle
{

width: 100%;
border-collapse: collapse;
border: 1px solid #000;
padding-top: 5px;
padding-left: 40px;
}

.detalle-th
{
padding: 2px;
border: 1px solid #000;

}


.detalle-td
{
padding: 2px;
border: 1px solid #000;
}


.operacion
{
width: 100%;
border-collapse: collapse;
padding-top: 5px;
border: 1px solid #000;
padding-left: 40px;


}

.operacion-td
{
padding:3px;
}

.operacion-td-right
{
border-right: 1px solid #000;	
}


.mensaje
{

width: 100%;
padding-left: 40px;
padding-top: 3px;
font-size: 12px;
font-weight: bold;
font-style: italic;

}

.imagen-logo
{
   padding-top: 5px;
   padding-bottom: 10px;
   padding-left: 40px;

}

.firmas
{
width:100%; 
text-align: left;  
border-collapse: collapse;
border: 1px solid #000;
padding-top: 5px;
padding-left: 40px;
}


#piedepagina{
width:800px; 
position: absolute;
bottom: 0 !important;
bottom: 15px;
}

.td-final
{
   padding-bottom: 200;
   border-right: 1px solid #000;
}


.center
{
text-align: center;
}

.left
{
text-align: left;
}


.right
{
text-align: right;	
}