#permiso directorio
#Options -Indexes

#set max upload file size
php_value upload_max_filesize 20000000M
php_value post_max_size 250000000000M
php_value max_execution_time 300000
php_value max_input_time 3000000

<IfModule mod_rewrite.c>
# Activar RewriteEngine
RewriteEngine on
#Path Local:
RewriteBase /dev/tunel_gmb/
#Path Remoto:
#RewriteBase /
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
 
RewriteRule ^(.*)$ $1.php
</IfModule>